@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

:root {
  /* Primary colors */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /* Neutral colors. */

  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue--card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line-: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-dark-blue-main-BG);
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  height: calc(100vh - 1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--Soft-blue);
  font-weight: 600;
  text-align: left;
}

section {
  height: calc(600px * 0.9);
  width: calc(340px * 0.9);
  background-color: var(--Very-dark-blue--card-BG);
  padding: 1.5rem;
  border-radius: 0.8rem;
}

section article {
  position: relative;
}
section article img {
  max-width: 100%;
  border-radius: 0.8rem;

  z-index: 0;
  display: inline-block;
}

section article img:hover {
  opacity: 0.5;
}
section article .hover-container {
  position: absolute;
  top: 0%;
  height: 258px;
  width: 258px;
  background-color: var(--Cyan);
  z-index: 999;
  opacity: 0;
  border-radius: 0.8rem;
}

section article .hover-container:hover {
  display: block;
  cursor: pointer;
  opacity: 0.5;
}

section article .hover-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section article h1 {
  font-size: 1.25rem;
  padding-top: 1.5rem;
  color: var(--White);
}
section article h1:hover {
  color: var(--Cyan);
  cursor: pointer;
}
section article p {
  font-weight: 300;
  font-size: 1rem;
  padding-top: 1.25rem;
}

section article ul {
  padding-top: 0.8rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
}

section article ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

section article ul li:first-child {
  color: var(--Cyan);
}

section ul li img {
  height: 1rem;
  margin-right: 5px;
}

section hr {
  color: var(--Very-dark-blue-line-);
  margin-top: 1rem;
}

section .card-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

section .card-container img {
  height: 2.5rem;
  border: 2px solid var(--White);
  border-radius: 100%;
  margin-right: 1rem;
}

section .card-container p {
  font-size: 0.95rem;
  font-weight: 300;
}

section .card-container span {
  font-weight: 600;
}

section .card-container span:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
